@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500;600;700&display=swap");

.display1 {
  font-weight: 600;
  font-size: 72px;
}
.display2 {
  font-weight: 600;
  font-size: 42px;
}
.display3 {
  font-weight: 600;
  font-size: 20px;
}

.body-xlarge {
  font-weight: 400;
  font-size: 20px;
}
.body-large-bold {
  font-weight: 700;
  font-size: 18px;
}
.body-large-semibold {
  font-weight: 600;
  font-size: 18px;
}
.body-large-medium {
  font-weight: 500;
  font-size: 18px;
}
.body-large-regular {
  font-weight: 400;
  font-size: 18px;
}
.body-normal-bold {
  font-weight: 700;
  font-size: 16px;
}
.body-normal-semibold {
  font-weight: 600;
  font-size: 16px;
}
.body-normal-medium {
  font-weight: 500;
  font-size: 16px;
}
.body-normal-regular {
  font-weight: 400;
  font-size: 16px;
}
.body-small-bold {
  font-weight: 700;
  font-size: 14px;
}
.body-small-semibold {
  font-weight: 600;
  font-size: 14px;
}
.body-small-regular {
  font-weight: 400;
  font-size: 14px;
}
